_ExeData/nozip/
_ExeData/zip/

Game/Binaries/
Game/Intermediate/
Game/Saved/
Game/.vs/
Game/Plugins/UE4Duino/Binaries/
Game/Plugins/UE4Duino/Intermediate/
Game/Plugins/UE4Duino/Saved/
Game/Plugins/UE4Duino/.vs/
