Game/.vs/
Game/Binaries/
Game/Intermediate/
Game/Saved/

Game/Plugins/UE4Duino/.vs/
Game/Plugins/UE4Duino/Binaries/
Game/Plugins/UE4Duino/Intermediate/
Game/Plugins/UE4Duino/Saved/

*_BuiltData.uasset
*.sln
*.zip